@using Server.Services
@inherits LayoutComponentBase

<MudSwipeArea OnSwipe="@OnSwipe">
    <MudLayout RightToLeft="@_rightToLeft">
        <MudAppBar Elevation="25">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
            <MudText Typo="Typo.h5" Class="mudblazor-appbar-brand-text d-none d-md-flex">E-Commerce</MudText>
            <MudAppBarSpacer/>
            <MudAutocomplete T="AppLinkServiceEntry" Placeholder="Search" Variant="Variant.Outlined" Class="docs-search-bar">
                <ItemTemplate Context="result">
                    <MudText>@result.Title</MudText> <MudText Typo="Typo.body2">@result.SubTitle</MudText>
                </ItemTemplate>
            </MudAutocomplete>
            <MudAppBarSpacer/>
            @* <div class="d-none d-md-flex align-center"> *@
            @* *@
            @*     <MudTooltip Text="Toggle light/dark theme"> *@
            @*         <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())"/> *@
            @*     </MudTooltip> *@
            @* </div> *@
            @* *@
            @* <MudMenu Icon="@Icons.Filled.Settings" Color="Color.Inherit" Dense="true" Direction="Direction.Right" OffsetY="true" Class="d-md-none"> *@
            @*     <MudMenuItem Link="https://github.com/jpandeinge" Target="_blank">Contact</MudMenuItem> *@
            @* </MudMenu> *@

        </MudAppBar>
        
        <MudMainContent Class="mudblazor-main-content">
            @Body
            <MudScrollToTop TopOffset="400">
                <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary"/>
            </MudScrollToTop>
        </MudMainContent>
    </MudLayout>
</MudSwipeArea>