
@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme"/>
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall"/>
<MudSnackbarProvider/>

<MudSwipeArea OnSwipe="@OnSwipe">
    <MudLayout RightToLeft="@_rightToLeft">
        <MudAppBar Elevation="25">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
            <MudText Typo="Typo.h5" Class="mudblazor-appbar-brand-text d-none d-md-flex">Project</MudText>
            <MudAppBarSpacer/>
            <MudAutocomplete T="string" @bind-Value="searchText" Placeholder="Search" SearchFunc="Search"  Variant="Variant.Outlined" Class="docs-search-bar">
                @* <ItemTemplate Context="result"> *@
                @*     <MudText>@result.Title</MudText> <MudText Typo="Typo.body2">@result.SubTitle</MudText> *@
                @* </ItemTemplate> *@
            </MudAutocomplete>
            <MudAppBarSpacer/>

            <div class="px-2">
                <MudTooltip Text="Toggle light/dark theme">
                    <MudIconButton Icon="@_themeIcon" Color="Color.Inherit" OnClick="@((e) => DarkMode())"/>
                </MudTooltip>
                <MudTooltip Text="Support">
                    <MudIconButton Icon="fas fa-question-circle" Color="Color.Inherit" Link="https://github.com/jpandeinge" Target="_blank"/>
                </MudTooltip>
            </div>
        </MudAppBar>
        <MudDrawer @bind-Open="@_drawerOpen" Elevation="25" Class="mudblazor-appbar-band">
            <MudDrawerHeader Class="mudblazor-brand" LinkToIndex="true">
                @* <MudBlazorLogo/> *@
            </MudDrawerHeader>
            <NavMenu @ref="@_navMenuRef"/>
        </MudDrawer>

        <MudMainContent Class="mudblazor-main-content">
            @Body
            <MudScrollToTop TopOffset="400">
                <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary"/>
            </MudScrollToTop>
        </MudMainContent>
    </MudLayout>
</MudSwipeArea>